.reminder {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: start  ;
  align-items: center;
}

input[type='checkbox'] {
  margin-right: 10px;
  height: 24px;
  width: 24px;
}

label {
  font-size: 1.2em;
}